@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@using RS_SEMINARSKI.ViewModels;
@model KonobariEvidentirajSaluVM


<style>

    #FORMA_ZA_SNIMANJE {
        width: 600px;
        border-radius: 25px;
        margin-left: 100px;
        /*background-image: url("https://i.pinimg.com/564x/8f/c6/b7/8fc6b7eca6e1d9bba6500efc0cfd8bda.jpg");
        background-position: center;
        background-size: cover; */
        background-color: #9fdf9f;
        opacity: 0.9;
        position: relative;
        bottom: 70px;
        right: 20px;
        border: 1px solid dotted;
        height:170px;
    }

    #labela2 {
        top:20px;
        padding-top: 5px;
        padding-left: 20px;
        /*margin-left: 40px;*/
        font-weight: bold;
        font-size: 15px;
        color: dimgrey;
        display: block;
        margin-left: 30px;
        position: relative;
        left: 0.1px;
        right: 50px;
        bottom: 20px;
    }

    #ajax3 {
        position: relative;
        top: 20px;
        left: 20px;
        /*width:250px;*/
        padding-left: 40px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        padding-left: 30px;
        padding-right: 20px;
        width: 300px;
        height: 25px;
    }
</style>

<form id="FORMA_ZA_SNIMANJE">

    @*<label>KorisnikID</label>*@
    <input hidden asp-for="KorisnikID" value="@Model.KorisnikID" />

    @*<label>KonobarID</label>*@
    <input  hidden asp-for="KonobarID" value="@Model.KonobarID" />

    <label id="labela2" >Naziv sale</label>
    <select id="ajax3" asp-for="SalaID" asp-items="Model.sale"></select><br />

    @*<input type="submit" value="Snimi"/>*@
    <input type="button" class="btn btn-group-toggle" value="Snimi" onclick="SnimiPromjene()" />


</form>