@{ Layout = null;}

@using RS_SEMINARSKI.ViewModels
@model KuharEvidentirajVM

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #KONT_STRANICE {
        height: 100%;
        width: 100%;
        background-image: url("https://i.pinimg.com/564x/8f/c6/b7/8fc6b7eca6e1d9bba6500efc0cfd8bda.jpg");
        background-position: center;
        background-size: cover;
        opacity: 0.9;
    }

    #GLAVNI {
        border-radius: 10px;
        position: relative;
        background-color: white;
        height: 500px;
        width: 83%;
        top: 60px;
        left: 130px;
    }

    #NavMain {
        background-color: white;
        height: 60px;
        width: 100%;
        color: white;
    }

    .btn {
        color: dimgrey;
        background-color: white;
        margin-top: 25px;
        margin-left: 20px;
        font-size: 15px;
        width: 130px;
        bottom: 5px;
        border: none;
        /*background-color: rebeccapurple;*/
    }

    button {
        position: relative;
        left: 90px;
        padding-left: 160px;
        /*margin-left:30px;*/
        /*    width:100px;
            background-color:rebeccapurple;*/
    }

    span {
        color: lightblue;
        padding-top: 40px;
        font-size: 25px;
        padding-left: 48px;
        position: relative;
        top: 15px;
        bottom: 4px;
    }

    #KorPodaci {
        /*background-color: blue;*/
        width: 100%;
        height: 60px;
        border-radius: 10px;
        margin-top: 20px;
    }
    /*
        form label {
            padding-top: 12px;
            padding-left: 48px;
            margin-left: 40px;
            font-weight: normal;
            color: dimgrey;
            display:block;
            margin-left:30px;
        }*/

    .input_polje {
        /*margin-top:px;*/
        /*border-style: dashed;*/
        /*border: 1px solid transparent;
        margin-left: 65px;
        padding-top: 4px;
        width: 600px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
        cursor: pointer;*/
        border: 1px solid transparent;
        margin-left: 65px;
        padding-top: 4px;
        width: 500px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
    }

    .input_poljee {
        border: 1px solid transparent;
        position: absolute;
        right: 10px;
        width: 500px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
    }

    #Slika {
        /*background-color:yellow;*/
        height: 100%;
        width: 40%;
        float: left;
    }

    #vjecanje {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .btn alert-danger {
        margin-left: 30px;
    }

    #neko {
        /*background-color:yellow;*/
        margin-left: 240px;
        border-radius: 2px;
        border-color: lightblue;
        border: 1px solid transparent;
        color: lightcoral;
    }

    #neko2 {
        /*background-color: yellow;*/
        margin-left: 2px;
        float: left;
        border-radius: 2px;
        border-color: lightblue;
        border: 1px solid transparent;
        position: relative;
        left: 20px;
        color: lightgreen;
    }
    /*  #butoni{
            background-color:aqua;
            width:300px;
            height:20%;
            float:left;
        }*/
    .form-control {
        cursor: pointer;
    }

    .text-danger {
        cursor: pointer;
    }

    #labela {
        padding-top: 12px;
        padding-left: 48px;
        margin-left: 40px;
        font-weight: normal;
        color: dimgrey;
        display: block;
        margin-left: 30px;
        position: relative;
        left: 66px;
    }

    #snimi {
        border: 1px solid transparent;
        margin-left: 20px;
        padding-top: 4px;
        width: 600px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        color: gray;
        cursor: pointer;
        margin-top: 30px;
    }

    #ajax1 {
        /*background-color: rebeccapurple;*/
        /*margin-top:200px;*/
        position: relative;
        top: 272px;
        left: 550px;
        /*width:250px;*/
        padding-left: 40px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        padding-left: 30px;
        padding-right: 20px;
    }

    #ajax2 {
        /*background-color: yellow;*/
        position: relative;
        top: 250px;
        left: 30px;
        /*width:250px;*/
        padding-left: 40px;
        border: 1px solid transparent;
        border-bottom: 1px solid lightblue;
        padding-right: 20px;
    }
</style>

<div id="KONT_STRANICE">
    <div id="NavMain">
        <button class="btn" onclick="window.location = '/Vjencanje/PrikazPocetne?KorisnikID=@Model.KorisnikID'">Početna strana </button>
        <button class="btn" onclick="window.location ='/Korisnik/PrikazRacuna?korisnikID=@Model.KorisnikID'">Korisnički račun</button>
        <button class="btn" onclick="window.location='/Autentifikacija/LogOut'">Odjavi se</button>
    </div>

    <div id="GLAVNI">
        <div id="Slika">
            <img id="vjecanje" src="https://i.pinimg.com/564x/a4/2d/33/a42d33c39fc06376e8f0f2870ab673b4.jpg" alt="Mountains">

        </div>
            <div id="SpanElement">
                <span>Evidencija kuhara </span><br />
            </div>
        <div id="KorPodaci">
            <form enctype="multipart/form-data" asp-controller="Kuhar" asp-action="Snimi">

                <input id="KuharId" asp-for="KuharID" value="@Model.KuharID" hidden />
                <input id="KorisnikId" asp-for="KorisnikID" value="@Model.KorisnikID" hidden />
                <label id="labela">Ime: </label>
                <input class="input_polje" asp-for="ImeKuhara" required/>
                <br />
                <label id="labela">Prezime: </label>
                <input class="input_polje" asp-for="PrezimeKuhara"  required/>
                <br />
                <label id="labela">Plata: </label>
                <input class="input_polje" asp-for="PlataKuhara" />
                <br />
                <input id="snimi" class="input_poljee" type="submit" value="Snimi" />

            </form>
        </div>
    @if (Model.KuharID != 0)
    {
        <br />
        <br />
        <button id="ajax1" onclick="DodajJelo()">Dodaj jelo</button>
        <br />
        <button id="ajax2" onclick="PrikaziJela(@Model.KuharID)">Pregledaj jela</button>

    }
    </div>
</div>

<div id="Ajax"></div>
<script>
    function PrikaziJela(KuharID) {
        var url = '/Kuhar/PrikaziJela?KuharID=' + KuharID;
        var zahtjev = new XMLHttpRequest;
        zahtjev.onload = function () {
            if (zahtjev.status == 200) {
                document.getElementById("Ajax").innerHTML = (zahtjev.responseText);
            }
        }
        zahtjev.open("GET", url, true);
        zahtjev.send();
    }
    function SnimiPromjene() {

        var form = $("#FORMA_ZA_SNIMANJE");
        var url = "/Kuhar/SnimiJelo";

        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                $("#Ajax").html(data);
            }
        });
        alert("Dodano");
    }

    var DodajJelo = () => {
        var KuharId = document.getElementById("KuharId").value;
        var KorisnikID = document.getElementById("KorisnikId").value;
        var url = "/Kuhar/DodajJelo?KorisnikID=" + KorisnikID + "&KuharID=" + KuharId;
        var zahtjev = new XMLHttpRequest;
        zahtjev.onload = function () {
            if (zahtjev.status == 200) {
                document.getElementById("Ajax").innerHTML = (zahtjev.responseText);
            }
        }
        zahtjev.open("GET", url, true);
        zahtjev.send();
    }
</script>
